<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.casper.feedbackapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FeedbackTab.Tab8Feedback"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".FeedbackTab.Tab7Feedback"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".FeedbackTab.Tab6Feedback"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".FeedbackTab.Tab5Feedback"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".FeedbackTab.Tab4Feedback"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".FeedbackTab.Tab3Feedback"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".FeedbackTab.Tab2Feedback"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".FeedbackTab.Tab1Feedback"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FeedbackTab.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Mødeleder.Kommentar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Fragment.Tab8"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".DagsordenLogik.Dagsorden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Mødeleder.StatistikCharts"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Fragment.Tab1"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".StartActivity"
            android:label="feedbackapp"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Fragment.Tab2" />
        <activity android:name=".Fragment.Tab3" />
        <activity android:name=".Fragment.Tab4" />
        <activity android:name=".Fragment.Tab5" />
        <activity android:name=".Fragment.Tab6" />
        <activity android:name=".Fragment.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Mødedeltager.MoedeDeltagActivity" />
        <activity android:name=".Mødeleder.FoersteLederActivity" />
        <activity android:name=".Mødedeltager.deltagerDagsordenActivity" />
        <activity android:name=".Mødeleder.LederStartMoedeActivity" />
        <activity android:name=".Mødeleder.Highscore" />
        <activity android:name=".Mødeleder.MoedeOprettet" />
        <activity android:name=".Mødeleder.LogIn" />
        <activity android:name=".SlutActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="272e0d1fd49ef0be90ce5354ebc2bddc1d072729" />
    </application>

</manifest>