<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.casper.feedbackapp">



    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Tab1" />
        <activity
            android:name=".StartActivity"
            android:label="feedbackapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tab2" />
        <activity android:name=".Tab3" />
        <activity android:name=".Tab4" />
        <activity android:name=".Tab5" />
        <activity android:name=".Tab6" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MoedeDeltagActivity" />
        <activity android:name=".FoersteLederActivity" />
        <activity android:name=".LederOpretMoedeActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity android:name=".deltagerDagsordenActivity" />
        <activity android:name=".LederStartMoedeActivity" />
        <activity android:name=".Highscore"></activity>

    </application>

</manifest>